<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.multi.mapper.EvalCafeMapper">
    
    <update id="updateStars" parameterType="com.multi.model.ShopVO">
        update shop
        set stars=((stars*reviews)+#{stars})/(reviews+1)<!-- 별점 평가 합산하기 -->
        <where>
			sname=#{sname}
        </where>
    </update>
    
    <update id="updateReviews" parameterType="com.multi.model.ShopVO">
		update shop set reviews=reviews+1 where sname=#{sname}
	</update>
    
    <!-- rating 횟수 counting 필요 // stars변수 DB컬럼 맞게 변경 -->
    <!-- 횟수=횟수+1 ; db컬럼 만들기 -->
</mapper>